################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Selenium_test/Screenshots/End-To-End_20180629 151534.jpg
/Selenium_test/1-MyTest1
/Selenium_test/2-MyTest2
/Selenium_test/GetQuote/Screenshots
/Selenium_test/HasFooter/Screenshots
/Selenium_test/Quote Functionality Test
/Selenium_test/Screenshots
/Selenium_test/1-SingleTrip_Family
/Selenium_test/2-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/3-AnnualTrip__Indiv_applicantIsTraveller
/Selenium_test/SelectPlan/Screenshots
/Selenium_test/config2.json
