################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Selenium_test/Screenshots/End-To-End_20180629 151534.jpg
/Selenium_test/1-MyTest1
/Selenium_test/2-MyTest2
/Selenium_test/GetQuote/Screenshots
/Selenium_test/HasFooter/Screenshots
/Selenium_test/Quote Functionality Test
/Selenium_test/Screenshots
/Selenium_test/1-SingleTrip_Family
/Selenium_test/2-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/3-AnnualTrip__Indiv_applicantIsTraveller
/Selenium_test/SelectPlan/Screenshots
/Selenium_test/config2.json
/Selenium_test/FillTravelDetails/Screenshots
/Selenium_test/Check_Rates_AllinOne
/Selenium_test/CHECK_RATE_1-SingleTrip_Family
/Selenium_test/CHECK_RATE_559-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_558-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_557-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_556-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_555-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_3-AnnualTrip__Indiv_applicantIsTraveller
/Selenium_test/CHECK_RATE_2-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/HOOOO.csv
/Selenium_test/checkCheck56789.csv
/Selenium_test/checkCheck111.csv
/Selenium_test/checkRatesDraft.csv
/Selenium_test/1-SingleTrip_Group
/Selenium_test/1-SingleTrip_Individual_Is_Traveller_Classic/Screenshots
/Selenium_test/2-SingleTrip_Individual_Another_Adult_Traveller_Classic/Screenshots
/Selenium_test/3-SingleTrip_Individual_Another_Child_Traveller_Classic/Screenshots
/Selenium_test/4-SingleTrip_Couple_Classic/Screenshots
/Selenium_test/5-SingleTrip_Family_Classic/Screenshots
/Selenium_test/6-SingleTrip_Group_Classic/Screenshots/Error_6-SingleTrip_Group_Classic_20180730 181732.jpg
/Selenium_test/6-SingleTrip_Group_Classic/Screenshots
/Selenium_test/checkRatesDraft_last.csv
/Selenium_test/checkRatesDraft_30Jul2018_120239.csv
/Selenium_test/checkRatesDraft_30Jul2018_114714.csv
/Selenium_test/checkRatesDraft_30Jul2018_114237.csv
/Selenium_test/checkRatesDraft_30Jul2018_113943.csv
/Selenium_test/checkRatesDraft_30Jul2018_105819.csv
/Selenium_test/checkRatesDraft_30Jul2018_104628.csv
/Selenium_test/checkRatesDraft_30Jul2018_103344.csv
/Selenium_test/checkRatesDraft_30Jul2018_011611.csv
/Selenium_test/checkRatesDraft_.csv
/Selenium_test/checkRatesDraft5678.csv
/Selenium_test/UnitTestLog_30Jul2018_120239.csv
/Selenium_test/UnitTestLog_30Jul2018_114714.csv
/Selenium_test/UnitTestLog_30Jul2018_114237.csv
/Selenium_test/UnitTestLog_30Jul2018_113942.csv
/Selenium_test/UnitTestLog_30Jul2018_105819.csv
/Selenium_test/UnitTestLog_30Jul2018_104628.csv
/Selenium_test/UnitTestLog_30Jul2018_103343.csv
/Selenium_test/UnitTestLog_30Jul2018_011611.csv
/Selenium_test/UnitTestLog99.csv
/Selenium_test/UnitTestLog987.csv
/Selenium_test/UnitTestLog9.csv
/Selenium_test/UnitTestLog888.csv
/Selenium_test/UnitTestLog88.csv
/Selenium_test/UnitTestLog8765432.csv
/Selenium_test/UnitTestLog8.csv
/Selenium_test/UnitTestLog6re.csv
/Selenium_test/UnitTestLog5555.csv
/Selenium_test/UnitTestLog5.csv
/Selenium_test/UnitTestLog2345678.csv
/Selenium_test/UnitTestLog23456.csv
/Selenium_test/UnitTestLog2.csv
/Selenium_test/UnitTestLog1.csv
/Selenium_test/UnitTestLog09.csv
/Selenium_test/UnitTestLog068.csv
/Selenium_test/UnitTestLog00.csv
/Selenium_test/UnitTestLog.csv
/Selenium_test/9-Sprint4-TC9/Screenshots
/Selenium_test/9-SingleTrip_Individual_Another_Child_Traveller_Premier/Screenshots/Error_9-SingleTrip_Individual_Another_Child_Traveller_Premier_20180731 141814.jpg
/Selenium_test/9-SingleTrip_Individual_Another_Child_Traveller_Premier/Screenshots
/Selenium_test/8-Sprint4-TC8/Screenshots/Error_8-Sprint4-TC8_20180801 180327.jpg
/Selenium_test/8-Sprint4-TC8/Screenshots
/Selenium_test/7-SingleTrip_Individual_Is_Traveller_Premier/Screenshots/Error_7-SingleTrip_Individual_Is_Traveller_Premier_20180801 115747.jpg
/Selenium_test/7-SingleTrip_Individual_Is_Traveller_Premier/Screenshots/Error_7-SingleTrip_Individual_Is_Traveller_Premier_20180801 101505.jpg
/Selenium_test/7-SingleTrip_Individual_Is_Traveller_Premier/Screenshots
/Selenium_test/5-Sprint4-TC5/Screenshots/Error_5-Sprint4-TC5_20180801 180154.jpg
/Selenium_test/5-Sprint4-TC5/Screenshots
/Selenium_test/3-Sprint4-TC3/Screenshots/Error_3-Sprint4-TC3_20180801 180059.jpg
/Selenium_test/3-Sprint4-TC3/Screenshots
/Selenium_test/28-Sprint4-TC28/Screenshots/Error_28-Sprint4-TC28_20180801 181729.jpg
/Selenium_test/28-Sprint4-TC28/Screenshots
/Selenium_test/27-Sprint4-TC27/Screenshots/Error_27-Sprint4-TC27_20180801 181700.jpg
/Selenium_test/27-Sprint4-TC27/Screenshots
/Selenium_test/26-Sprint4-TC26/Screenshots/Error_26-Sprint4-TC26_20180801 181630.jpg
/Selenium_test/26-Sprint4-TC26/Screenshots
/Selenium_test/23-Sprint4-TC23/Screenshots/Error_23-Sprint4-TC23_20180801 181344.jpg
/Selenium_test/23-Sprint4-TC23/Screenshots
/Selenium_test/22-Sprint4-TC22/Screenshots/Error_22-Sprint4-TC22_20180801 181317.jpg
/Selenium_test/22-Sprint4-TC22/Screenshots
/Selenium_test/22-AnnualTrip_Family_Classic/Screenshots/Error_22-AnnualTrip_Family_Classic_20180801 102912.jpg
/Selenium_test/22-AnnualTrip_Family_Classic/Screenshots
/Selenium_test/21-AnnualTrip_Couple_Classic/Screenshots/Error_21-AnnualTrip_Couple_Classic_20180731 172954.jpg
/Selenium_test/21-AnnualTrip_Couple_Classic/Screenshots
/Selenium_test/20-Sprint4-TC20/Screenshots/Error_20-Sprint4-TC20_20180801 181216.jpg
/Selenium_test/20-Sprint4-TC20/Screenshots
/Selenium_test/20-AnnualTrip_Individual_Another_Adult_Traveller_Classic/Screenshots
/Selenium_test/19-AnnualTrip_Individual_Is_Traveller_Classic/Screenshots
/Selenium_test/13-Sprint4-TC13/Screenshots
/Selenium_test/11-Sprint4-TC11/Screenshots
/Selenium_test/10-SingleTrip_Couple_Premier/Screenshots
/Selenium_test/1-Sprint4-TC1/Screenshots
/Selenium_test/checkRatesDraft_31Jul2018_041938.csv
/Selenium_test/checkRatesDraft_31Jul2018_041324.csv
/Selenium_test/checkRatesDraft_31Jul2018_040907.csv
/Selenium_test/checkRatesDraft_31Jul2018_034206.csv
/Selenium_test/checkRatesDraft_31Jul2018_032631.csv
/Selenium_test/checkRatesDraft_31Jul2018_031943.csv
/Selenium_test/checkRatesDraft_31Jul2018_024746.csv
/Selenium_test/checkRatesDraft_31Jul2018_021822.csv
/Selenium_test/checkRatesDraft_01Aug2018_015848.csv
/Selenium_test/checkRatesDraft_01Aug2018_015721.csv
/Selenium_test/checkRatesDraft_01Aug2018_015305.csv
/Selenium_test/checkRatesDraft_01Aug2018_014856.csv
/Selenium_test/UnitTestLog_987.csv
/Selenium_test/UnitTestLog_876.csv
/Selenium_test/UnitTestLog_31Jul2018_041938.csv
/Selenium_test/UnitTestLog_31Jul2018_041324.csv
/Selenium_test/UnitTestLog_31Jul2018_040907.csv
/Selenium_test/UnitTestLog_31Jul2018_034206.csv
/Selenium_test/UnitTestLog_31Jul2018_032631.csv
/Selenium_test/UnitTestLog_31Jul2018_031943.csv
/Selenium_test/UnitTestLog_31Jul2018_024746.csv
/Selenium_test/UnitTestLog_31Jul2018_021822.csv
/Selenium_test/UnitTestLog_01Aug2018_015848.csv
/Selenium_test/UnitTestLog_01Aug2018_015721.csv
/Selenium_test/UnitTestLog_01Aug2018_015305.csv
/Selenium_test/UnitTestLog_01Aug2018_014856.csv
/Selenium_test/UnitTestLog - Copy.csv
*.xlsx
