################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Selenium_test/Screenshots/End-To-End_20180629 151534.jpg
/Selenium_test/1-MyTest1
/Selenium_test/2-MyTest2
/Selenium_test/GetQuote/Screenshots
/Selenium_test/HasFooter/Screenshots
/Selenium_test/Quote Functionality Test
/Selenium_test/Screenshots
/Selenium_test/1-SingleTrip_Family
/Selenium_test/2-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/3-AnnualTrip__Indiv_applicantIsTraveller
/Selenium_test/SelectPlan/Screenshots
/Selenium_test/config2.json
/Selenium_test/FillTravelDetails/Screenshots
/Selenium_test/Check_Rates_AllinOne
/Selenium_test/CHECK_RATE_1-SingleTrip_Family
/Selenium_test/CHECK_RATE_559-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_558-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_557-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_556-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_555-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/CHECK_RATE_3-AnnualTrip__Indiv_applicantIsTraveller
/Selenium_test/CHECK_RATE_2-AnnualTrip_Indiv_applicantNotTraveller
/Selenium_test/HOOOO.csv
/Selenium_test/checkCheck56789.csv
/Selenium_test/checkCheck111.csv
/Selenium_test/checkRatesDraft.csv
