<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="checkRatesStart" value="1"/>
    <add key="endToEndStart" value="1"/>
    <add key="endToEndFileName" value="cyberSmartInput"/>
    <!--<add key="endToEndFileName" value="new 2"/>-->

    <add key="CheckRatesSource" value="checkOldRates_Annual"/>
    <add key="checkRatesFileName" value="checkRatesDraft"/>
    <add key="UnitTestLogFileName" value="UnitTestLog"/>
    <add key="testFolder" value="C:\Users\edmund.toh\Source\Repos\Chubb_AutomationTest_develop\Selenium_test\"/>
    <!--<add key="url" value="https://apacsteadbsibdevweb-load-test.apacsteadbsdevaseelb.p.azurewebsites.net/sg/dbs/ib/travellershieldplus/?authCode=cb689f67-1040-4cd6-b1d3-fd201ed9a5e2&amp;channel=IBSG&amp;testmode=test"/>-->
    <!--<add key="url" value="https://dbsuat.chubbdigital.com/sg/posb/pweb/travellershieldplus/"/>-->
    <add key="url" value ="https://localhost:44300/sg/dbs/pweb/cybersmart/"/>
    <!--<add key="url" value="https://apacsteadbspaylahdevweb.apacsteadbsdevaseelb.p.azurewebsites.net/sg/paylah/travellershieldplus/app"/>-->
    <!--<add key="elementConfigFileName" value="elementConfig"/>-->
    <add key="elementConfigFileName" value="elementConfigCyberSmart"/>

    <!--<add key="elementConfigFileName" value="elementConfigPaylah"/>-->

    <add key="dbsURL" value = "https://sib8.dbs.com/IB/Welcome?FROM_IB=TRUE"/>

    <add key ="paymentMode" value ="CC"/>
    <add key ="browser" value ="chrome"/>
    <!--<add key ="paymentMode" value ="CASA"/>-->
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
