<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="checkRatesStart" value="1"/>
    <add key="endToEndStart" value="7"/>
    <add key="endToEndFileName" value="sprint4input"/>

    <add key="checkRatesFileName" value="checkRatesDraft"/>
    <add key="UnitTestLogFileName" value="UnitTestLog"/>
    <add key="testFolder" value="C:\Users\edmund.toh\Source\Repos\Chubb_AutomationTest_develop\Selenium_test\"/>
    <add key="url" value="https://dbsuat.chubbdigital.com/sg/dbs/ib/travellershieldplus/?authCode=cb689f67-1040-4cd6-b1d3-fd201ed9a5e2&amp;channel=IBSG&amp;testmode=loadtest"/>
    <!-- Start of Quote Sample Data 1 -->
    <add key="tripType_1" value="true"/>
    <add key="countries_1" value="Thailand"/>
    <add key="departDate_1" value="2018-07-29"/>
    <add key="returnDate_1" value="2018-07-30"/>
    <add key="coverType_1" value="Individual"/>
    <add key="adultAge_1" value="30"/>
    <add key="childAge_1" value=""/>

    <!-- End of Quote Sample Data 1 -->

    <!-- Start of Quote Sample Data 2 -->
    <add key="tripType_2" value="true"/>
    <add key="countries_2" value="Malaysia"/>
    <add key="departDate_2" value="2018-07-29"/>
    <add key="returnDate_2" value="2018-08-05"/>
    <add key="coverType_2" value="Individual"/>
    <add key="adultAge_2" value="35"/>
    <add key="childAge_2" value=""/>

    <!-- End of Quote Sample Data 2 -->
    
    <!-- Start of Plan Sample Data 1 -->
    <add key="planNo_1" value="1"/>
    <!-- End of Plan Sample Data 1  -->

    <!-- Start of Plan Sample Data 2 -->
    <add key="planNo_2" value="2"/>
    <!-- End of Plan Sample Data 2  -->
    
    <!-- Start of Applicant Sample Data 1  -->
    <add key="aNRIC_1" value="S1234567A"/>
    <add key="aFullName_1" value="Bruce Willis"/>
    <add key="aDOB_1" value="30/10/1990"/>
    <add key="aNationality_1" value="Singapore"/>
    <add key="aMobile_1" value="91129553"/>
    <add key="aEmail_1" value="edmundtoh5@gmail.com"/>
    <!-- End of Applicant Sample Data 1  -->

    <!-- Start of Applicant Sample Data 2 -->
    <add key="aNRIC_2" value="S1234567A"/>
    <add key="aFullName_2" value="Na Ra"/>
    <add key="aDOB_2" value="10/10/1950"/>
    <add key="aNationality_2" value="Malaysia"/>
    <add key="aMobile_2" value="91129553"/>
    <add key="aEmail_2" value="edmundtoh5@gmail.com"/>
    <!-- End of Applicant Sample Data 2  -->
  
    <!-- Start of Credit Card Sample Data 1 -->
    <add key="cardNo_1" value="4918914107195005"/>
    <add key="cardHolderName_1" value="Bruce Wayne"/>
    <add key="expiryDate_1" value="07/20"/>
    <add key="cvv_1" value="123"/>
    <!-- End of Credit Card Sample Data 1 -->

    <!-- Start of Credit Card Sample Data 2 -->
    <add key="cardNo_2" value="5422882800700007"/>
    <add key="cardHolderName_2" value="Tim Drake"/>
    <add key="expiryDate_2" value="07/20"/>
    <add key="cvv_2" value="123"/>
    <!-- End of Credit Card Sample Data 2 -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
