<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="https://dbsuat.chubbdigital.com/" />
    <!-- Start of Quote Sample Data 1 -->
    <add key="tripType_1" value="true" />
    <add key="countries_1" value="Thailand" />
    <add key="departDate_1" value="2018-07-12" />
    <add key="returnDate_1" value="2018-07-17" />
    <add key="coverType_1" value="Individual" />
    <!-- End of Quote Sample Data 1   z -->
  </appSettings>
</configuration>